* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   /* background: url(../images/button.png) no-repeat  scroll center / cover; */
   

}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 35%;
    text-align: center;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 14px 2px #b29f94;
    height: 70%;
    background: url(../images/1st.jpg) no-repeat scroll center / cover;
}

.box form h1 {
    font-size: 45px;
}
.box form input{
    border-radius: 25px;
    border: 1px solid rgb(180, 178, 178);
    outline: white;
  
}

.box form input,
.box form button {
    font-size: 23px;
    margin: 10px;
    padding: 5px 20px;
    color: black;
    height: 45px;
    background: none;
    
}

.box form button {
    box-shadow: 0 0 7px 1px #a6a29f;
    border: 1px solid #ffffff;
    color: rgb(19, 2, 2);
    transition: all 0.5s ease;
    overflow: hidden;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
   


}


.weather {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #291503;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px  #b9a188;
    flex-direction: column;
    width: 70%;
    height: 40%;
   
}
.from{
    height: 50%;
}
.box .weather h1{
    font-size: 35px;
    display: flex;
    margin-bottom:10px ;
    align-items: center;
    justify-content: center;
}
.box .weather h1 span{
    width: 45px;
    height: 30px;
    margin-left:10px ;
}
.box .weather h1 span img{
   width: 45px;
   height: 30px;
}
.box .weather h2,.box .weather h3{
    margin: 5px 0;
}